<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /artificialornaturalintelligence/

    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    RewriteRule ^ index.html [L]
</IfModule>

<IfModule mod_headers.c>
    <Files "config.json">
        Header set Cache-Control "no-store, no-cache, must-revalidate, proxy-revalidate"
        Header set Pragma "no-cache"
        Header set Expires "0"
    </Files>
</IfModule>