# Server
BASE_URL=http://localhost
API_PORT=3000                   # Port, auf dem die API läuft
CONTENT_DIR=../static           # Pfad zu statischen Inhalten relativ zum Skriptpfad
CONTENT_ENDPOINT=/static        # URL-Pfad, unter dem die Inhalte erreichbar sind
DOCS_ENDPOINT=/docs             # Swagger-Endpoint
ANGULAR_URL=http://localhost    # Frontend URL (origin Wert für die CORS Policy Konfiguration)

# Datenbank
PG_HOST=artificialornaturalintelligence-postgres
PG_PORT=5432
PG_USERNAME=postgres
PG_PASSWORD=postgres
PG_DBNAME=artificial_or_natural_intelligence
ADMIN_DEFAULT_USERNAME=admin
ADMIN_DEFAULT_PASSWORD=password
JWT_SECRET=jwtsecret
JWT_EXPIRES_IN=2h

# Frontend
FRONTEND_PORT=80                # Port, auf dem das Frontend läuft (diese Einstellung ist nur für docker-compose relevant)
FRONTEND_LAST_LEVEL=5
FRONTEND_MAX_QUESTIONS_PER_LEVEL=2
FRONTEND_HINTS_ENABLED=true