# Server
API_PORT=3000                # Port, auf dem die API läuft
CONTENT_DIR=../static        # Pfad zu statischen Inhalten relativ zum Skriptpfad
CONTENT_ENDPOINT=/static     # URL-Pfad, unter dem die Inhalte erreichbar sind
DOCS_ENDPOINT=/docs          # Swagger-Endpoint

# Datenbank
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_NAME=artificial_or_natural_intelligence