# Server
BASE_URL=http://localhost
API_PORT=3000                # Port, auf dem die API läuft
CONTENT_DIR=../static        # Pfad zu statischen Inhalten relativ zum Skriptpfad
CONTENT_ENDPOINT=/static     # URL-Pfad, unter dem die Inhalte erreichbar sind
DOCS_ENDPOINT=/docs          # Swagger-Endpoint

# Datenbank
PG_HOST=localhost
PG_PORT=5432
PG_USERNAME=postgres
PG_PASSWORD=postgres
PG_DBNAME=artificial_or_natural_intelligence
ADMIN_DEFAULT_USERNAME=admin
ADMIN_DEFAULT_PASSWORD=password
JWT_SECRET=jwtsecret
JWT_EXPIRES_IN=2h

#Frontend URL (origin Wert für die CORS Policy Konfiguration)
ANGULAR_URL=http://localhost:4200