.bar {
  margin-top: 10em;
  display: flex;
  border: 1px solid #ffff;
  height: 32px;
  overflow: hidden;
}

.seg {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffff;
}

.seg:last-child {
  border-right: 0;
}

#content {
  margin-top: 2em;
}

#btnAI, #btnHuman {
  background-color: rgb(61, 186, 0);
  background: linear-gradient(rgb(82, 173, 3), rgb(35, 165, 0 ), rgb(47, 108, 31));
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2.5em;
  border-radius: 20em;
  margin: 20px 10px 20px;
  width: 5em;
  height: 1.5em;
}