<div>
  <div class="bar">
    <div class="seg" *ngFor="let level of levels" [style.background]="getBg(level)" [style.color]="getSegTextColor(level)">{{ level }}</div>
  </div>
  <div align="center" id="content" [innerHTML]="contentHTML"></div>
  <p align="center" id="hint" *ngIf="hintsEnabled">{{ hintText }}</p>
  <div class="btn-wrap">
    <button [disabled]="areButtonsDisabled()" id="btnAI" mat-raised-button (click)="onChoice('AI');">AI</button>
    <button [disabled]="areButtonsDisabled()" id="btnHuman" mat-raised-button (click)="onChoice('Human');">Human</button>
  </div>
</div>
